/**
 * 公共样式定义
 * @module src/styles/common
 * @author bigfact 2018.06.15
 */

@import './_globals';

// 页面
page {
  background-color: #ebebeb;
  color: $color-default;
  font-size: 30rpx;
  height: 100%;
}

// 浮动
.fr {
  float: right;
}
.fl {
  float: left;
}

// 背景白色
.bg-white {
  background-color: #ffffff;
}

// 温馨提示
.warm-hint {
  color: $color-tertiary;
  font-size: 24rpx;
  > view {
    &:first-of-type {
      color: $color-secondary;
      padding: 20rpx 0;
    }
  }
}


// 居中
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}

// 字体颜色
.color-default {
  color: $color-default;
}
.color-secondary {
  color: $color-secondary;
}
.color-tertiary {
  color: $color-tertiary;
}
.color-link {
  color: $color-link;
}
.color-primary {
  color: $color-primary;
}
.color-placeholder {
  color: $color-placeholder;
}
.color-active {
  color: #23be60;
}
.color-orange {
  color: #ff7015;
}
.color-important {
  color: $color-important;
}
.color-white {
  color: #ffffff;
}

// 字体大小
// 12 号到 40 号字
@for $i from 12 through 40 {
  .fs#{$i} {
    font-size: 2rpx * $i;
  }
}

.clearfix {
  zoom: 1;
  &:after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
  }
}
